@inject NavigationManager NavigationManager
@inject TokenContainer tokenContainer

<!-- 
Para el logout: 
un met del stateContainer q limpie
el token, y llame a la func apropiada para quitar el edo. de autenticacion de la app
*-->

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Taller de ASP Net Core</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.Prefix">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="auth/login">
                        <span class="bi bi-arrow-right-circle" aria-hidden="true"></span> Iniciar Sesión
                        <!-- 
                        para el logout
                        class="bi bi-arrow-left-circle"
                        -->
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="bi bi-person" aria-hidden="true"></span> Crear Usuario
                    </NavLink>
                </div>
                <!--<div class="nav-item px-3">
                    <button class="nav-link">
                        <span class="bi bi-arrow-bar-left" aria-hidden="true"></span> Cerrar Sesión
                    </button>
                </div>-->
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="update-user">
                        <span class="bi bi-person-plus" aria-hidden="true"></span> Actualizar 
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <!--<NavLink class="nav-link" href="">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Consultar Usuario
                </NavLink>-->
                <!--<NavLink class="nav-link" href="update-user">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Actualizar Usuario
                </NavLink>-->
            </Authorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    </nav>
</div>

